.about {
  position: relative;
  align-items: center;
}

.about__info {
  margin-right: 27px;
}

.about__image {
  width: 100%;
  margin-left: -18px;
  padding-right: 46px;

  img {
    width: 100%;
  }
}

@media (max-width: $desktop-sm) {
  .about__image {
    position: relative;
    margin: 0 -15px;
    margin-bottom: 28px;
    padding: 0;
    text-align: center;
  }

  .about__image img {
    max-width: 400px;
  }

  .about__info {
    margin-right: 0;
  }

  .about__info hr {
    display: none;
  }
}
