-
  //- Контактные даныне
  var contacts = {
    phones: ["+7(391)267-34-51", "+7(902)951-19-11"],
    time: "пн-сб с 9:00 до 21:00",
    address: "г. Красноярск, ул. Краснодарская, 17а, пом. 3",
    bus: ["Военкомат", 190],
    email: "aspektmedicalgroup@yandex.ru",
    socials: {
      instagram: "https://www.instagram.com/aspect_medical_group/",
      vk: "https://vk.com/public211407145"
    }
  }

  //- Персонал
  var staff = [
    {
      id: "solomakhina",
      surname: "Соломахина",
      name: "Алла",
      patronym: "Станиславовна",
      rank: "Главный врач, стоматолог-ортопед, стоматолог общей практики",
      rankShort: "Главный врач",
      certificates: [
        {
          year: "2006",
          text: "Диплом о высшем образовании от 21.06.2006г. в ГОУ ВПО КрасГМА квалификации Врач по специальности «Стоматология»"
        },
        {
          year: "2007",
          text: "Удостоверение о прохождении интернатуры в ГОУ ВПО КрасГМА по специальности «Стоматология»"
        },
        {
          year: "2011",
          text: "Диплом о проф. переподготовке в ИПО ГОУ ВПО КрасГМУ им. проф. В. Ф. Войно-Ясенецкого от 09.02.2011г. по циклу «Стоматология ортопедическая»"
        },
        {
          year: "2011",
          text: "Удостоверение о повышении квалификации в Омской государственной мед. академии от 16.04.2011г. по программе «Стоматология общей практики»"
        },
        {
          year: "2015",
          text: "Диплом о проф. переподготовке в ФГБУО ВО ОмГМУ Минздрава России от 26.12.2015г. на право ведения профессиональной деятельности в сфере «Стоматология терапевтическая»"
        },
        {
          year: "2016",
          text: "Диплом о проф. переподготовке в ФГБУО ВО ОмГМУ Минздрава России от 11.04.2016г. на право ведения профессиональной деятельности в сфере «Организация здравоохранения и общественное здоровье»"
        },
        {
          year: "2016",
          text: "Удостоверение о повышении квалификации в ФГБУО ВО ОмГМУ Минздрава России от 07.05.2016г. по программе «Стоматология ортопедическая»"
        },
        {
          year: "2018",
          text: "Сертификат специалиста о проф. переподготовке в ФГБУО ВО ОмГМУ Минздрава России от 10.11.2018г. по направлению «Стоматология общей практики»"
        },
        {
          year: "2019",
          text: "Сертификат специалиста о проф. переподготовке в ФИЦ КНЦ СО РАН от 28.02.2019г. по направлению «Организация здравоохранения и общественное здоровье»"
        },
        {
          year: "2020",
          text: "Сертификат специалиста о проф. переподготовке в ЧУ ДПО «Институт переподготовки и повышения квалификации специалистов здравоохранения» от 02.04.2020г. по направлению «Стоматология терапевтическая»"
        },
        {
          year: "2020",
          text: "Сертификат специалиста о проф. переподготовке в ЧУ ДПО «Институт переподготовки и повышения квалификации специалистов здравоохранения» от 02.04.2020г. по направлению «Стоматология ортопедическая»"
        },
        {
          year: "2021",
          text: "Удостоверение о повышении квалификации в ООО УЦ МИР Энергия от 25.11.2021г. по программе «Актуальные аспекты профилактики COVID-19 в медицинских учреждениях»"
        },
      ]
    },
    {
      id: "kovaleva",
      surname: "Ковалёва",
      name: "Татьяна",
      patronym: "Михайловна",
      rank: "Врач стоматолог",
      rankShort: "Врач стоматолог",
      certificates: [
        {
          year: "2010",
          text: "Диплом о высшем профессиональном образовании в ГОУ ВПО КрасГМА квалификация врач по специальности «Стоматология»"
        },
        {
          year: "2011",
          text: "Удостоверение о прохождении интернатуры в ГОУ ВПО КрасГМУ по специальности «Стоматология»"
        },
        {
          year: "2016",
          text: "Сертификат специалиста 2016г. АНОО ДПО «Центральный институт повышения квалификации и профпереподготовки» по специальности «Стоматология общей практики»"
        },
        {
          year: "2020",
          text: "Сертификат специалиста 2020г. ЧУДПО «ИПиПКСЗ» по специальности «Стоматология общей практики»"
        }
      ]
    },
  ]

  //- Услуги и цены
  var price = [
    {
      name: "Консультация, диагностика",
      details: [
        {
          name: "Прием (осмотр, консультация) врача-ортодонта первичный",
          price: "400"
        },
        {
          name: "Прием (осмотр, консультация) врача-ортодонта повторный",
          price: "300"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога первичный",
          price: "400"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога повторный",
          price: "300"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-терапевта первичный",
          price: "400"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-терапевта повторный",
          price: "300"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-ортопеда первичный",
          price: "400"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-ортопеда повторный",
          price: "300"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-хирурга первичный",
          price: "400"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-хирурга повторный",
          price: "300"
        },
        {
          name: "Первичная диагностика",
          price: "400",
          details: [
            "Сбор анамнеза и жалоб при патологии полости рта",
            "Внешний осмотр челюстно-лицевой области",
            "Визуальное исследование при патологии полости рта",
            "Пальпация органов полости рта",
            "Перкуссия при патологии полости рта",
            "Осмотр полости рта с помощью дополнительных инструментов",
            "Исследование кариозных полостей с использованием стоматологического зонда",
            "Перкуссия зубов",
            "Определение степени патологической подвижности зубов",
            "Термодиагностика зуба",
            "Исследование зубодесневых карманов с помощью пародонтологического зонда"
          ]
        },
        {
          name: "Расширенная диагностика",
          price: "2000",
          details: [
            "Прием (осмотр, консультация) врача-стоматолога повторный",
            "Сбор анамнеза и жалоб при патологии полости рта, включая черепно-челюстно-лицевой области",
            "Визуальное исследование при патологии полости рта, включая черепно-челюстно-лицевой области",
            "Пальпация при патологии полости рта, включая черепно-челюстно-лицевой области",
            "Перкуссия при патологии полости рта, включая черепно-челюстно-лицевой области",
            "Пальпация челюстно-лицевой области",
            "Определение степени открывания рта и ограничения подвижности нижней челюсти",
            "Перкуссия зубов",
            "Определение степени патологической подвижности зубов",
            "Описание и интерпретация рентгенографических изображений",
            "Антропометрические исследования (медицинское фотографирование)",
            "Исследование на диагностических моделях челюстей",
            "Определение прикуса"
          ]
        },
        {
          name: "Радиовизиография",
          price: "300"
        },
        {
          name: "Определение прикуса",
          price: "200"
        },
        {
          name: "Исследование на диагностических моделях челюстей",
          price: "1000"
        },
        {
          name: "Определение вида смыкания зубов с помощью лицевой дуги",
          price: "1000"
        },
        {
          name: "Исследование зубодесневых карманов с помощью пародонтологического зонда",
          price: "300"
        },
        {
          name: "Функциональные жевательные пробы",
          price: "300"
        },
        {
          name: "Определение индексов гигиены полости рта",
          price: "300"
        },
      ]
    },
    {
      name: "Анестезия, инъекции, лекарственная терапия",
      details: [
        {
          name: "Аппликационная анестезия",
          price: "100"
        },
        {
          name: "Инфильтрационная анестезия",
          price: "400"
        },
        {
          name: "Проводниковая анестезия",
          price: "400"
        },
        {
          name: "Инъекционное введение лекарственных препаратов в челюстно-лицевую область",
          price: "200"
        },
        {
          name: "Назначение лекарственных препаратов при заболеваниях полости рта и зубов",
          price: "100"
        },
        {
          name: "Внутримышечное введение лекарственных препаратов",
          price: "200"
        },
        {
          name: "Внутривенное введение лекарственных препаратов",
          price: "500"
        }
      ]
    },
    {
      name: "Терапевтические услуги",
      details: [
        {
          name: "Восстановление зуба пломбой",
          details: [
            {
              name: "Сошлифовывание твердых тканей зуба при лечении кариеса и его осложнений",
              price: "200"
            },
            {
              name: "Восстановление зуба пломбой при лечении кариеса I класса по Блэк",
              price: "3000"
            },
            {
              name: "Восстановление зуба пломбой при лечении кариеса III и VI класса по Блэк",
              price: "3500"
            },
            {
              name: "Восстановление зуба пломбой при лечении кариеса II, V и IV класса по Блэк и клиновидного дефекта",
              price: "3000"
            },
            {
              name: "Восстановление зуба пломбой в случае разрушения более 1/2 коронковой части зуба",
              price: "4000"
            },
            {
              name: "Восстановление зуба пломбой при лечении кариеса III и VI  класса по Блэк с воспроизведением индивидуальной эстетики и формы зуба",
              price: "4500"
            },
            {
              name: "Восстановление зуба пломбировочными материалами с использованием анкерных штифтов из стекловолокна",
              price: "4700"
            },
            {
              name: "Фиксация внутриканального штифта/вкладки",
              price: "450"
            },
            {
              name: "Восстановление зуба вкладками, виниром, полукоронкой из фотополимерного материала прямым методом",
              price: "5000"
            },
            {
              name: "Лечение осложнений кариеса (эндодонтическое лечение  корневых каналов) однокорневого зуба, включает",
              price: "От 6000",
              details: [
                "Экстирпация пульпы",
                "Инструментальная и медикаментозная обработка корневого канала",
                "Пломбирование корневого канала зуба",
                "Восстановление зуба пломбой после эндодонтического лечения"
              ]
            },
            {
              name: "Экстирпация пульпы",
              price: "400"
            },
            {
              name: "Инструментальная и медикаментозная обработка корневого канала с временным вложением гидроокиси кальция",
              price: "500"
            },
            {
              name: "Инструментальная и медикаментозная обработка плохо проходимого корневого канала с временным вложением гидроокиси кальция",
              price: "800"
            },
            {
              name: "Временное пломбирование лекарственным препаратом корневого канала",
              price: "500"
            },
            {
              name: "Ультразвуковое расширение корневого канала зуба",
              price: "200"
            },
            {
              name: "Пломбирование корневого канала зуба методом латеральной конденсации гуттаперчи",
              price: "1600"
            },
            {
              name: "Пломбирование корневого канала зуба методом вертикальной конденсации горячей гуттаперчи или системой \"Термафил\", \"Софт-Кор\", ProRoot MTA",
              price: "2500"
            },
            {
              name: "Закрытие перфорации стенки корневого канала  (без учета стоимости материала)",
              price: "500"
            },
            {
              name: "Распломбировка корневого канала ранее леченого пастой",
              price: "550"
            },
            {
              name: "Распломбировка корневого канала ранее леченого фосфат цементом/резорцин-формальдегидным методом",
              price: "800"
            },
            {
              name: "Удаление внутриканального штифта/вкладки",
              price: "1000"
            },
          ]
        },
        {
          name: "Временные пломбы",
          details: [
            {
              name: "Наложение временной пломбы",
              price: "200"
            }
          ]
        },
        {
          name: "Профилактика",
          details: [
            {
              name: "Профессиональная гигиена полости рта комбинированным методом (ультразвук+аир-флоу+полировка эмали) в области одной челюсти с ультразвуковым удалением зубных отложений, обработкой эйр-флоу и полировкой эмали",
              price: "1500"
            },
            {
              name: "Ультразвуковая обработка патологических зубодесневых карманов (1 зуб)",
              price: "100"
            },
            {
              name: "Ультразвуковое удаление наддесневых и поддесневых зубных отложений в области одного зуба",
              price: "150"
            },
            {
              name: "Запечатывание фиссуры зуба герметиком",
              price: "1500"
            },
            {
              name: "Глубокое фторирование твердых тканей зубов (1 зуб) ",
              price: "500"
            },
            {
              name: "Глубокое фторирование твердых тканей зубов при подготовке эмали зубов к лечению с помощью брекет-системы и реабилитация после с использованием индивидуальных капп, снятие генерализованной гиперчувствительности (1 челюсть)",
              price: "500"
            },
            {
              name: "Введение лекарственных препаратов в парадонтальный карман",
              price: "400"
            },
          ]
        },
        {
          name: "Шинирование зубов",
          details: [
            {
              name: "Временное шинирование при заболеваниях пародонта",
              price: "От 7000"
            },
          ]
        },
      ]
    },
    {
      name: "Ортопедические услуги",
      details: [
        {
          name: "Исследование на диагностических моделях челюстей с восковой моделировкой будущей ортопедической конструкции с целью планирования препарирования, эстетики и функции (1 единица) ",
          price: "800"
        },
        {
          name: "Сошлифовывание твердых тканей зуба для последующего восстановления вкладкой, накладкой, полукоронкой, коронкой, виниром",
          price: "500"
        },
        {
          name: "Восстановление зуба коронкой временной (пластмассовой)",
          price: "900"
        },
        {
          name: "Восстановление зуба металлической стандартной коронкой",
          price: "2500"
        },
        {
          name: "Восстановление зуба коронкой постоянной цельнометаллической",
          price: "6000"
        },
        {
          name: "Восстановление зуба коронкой постоянной металлокерамической ",
          price: "10500"
        },
        {
          name: "Восстановление зуба коронкой постоянной безметалловой из диоксида циркония ",
          price: "19000"
        },
        {
          name: "Восстановление зуба коронкой постоянной безметалловой цельнокерамической ",
          price: "20000"
        },
        {
          name: "Восстановление зуба коронкой  постоянной  пластмассовой",
          price: "4500"
        },
        {
          name: "Восстановление зуба вкладкой, виниром, полукоронкой ( безметаловой цельнокерамической)",
          price: "20000"
        },
        {
          name: "Восстановление зуба с использованием цельнолитой культевой вкладки",
          price: "3000"
        },
        {
          name: "Восстановление зуба с использованием цельнокерамической культевой вкладки",
          price: "7500"
        },
        {
          name: "Изготовление окклюзионной накладки в мостовидном протезе",
          price: "800"
        },
      ]
    },
    {
      name: "Съемные протезы",
      details: [
        {
          name: "Протезирование частичными съемными пластиночными протезами (1 челюсть)",
          price: "21000"
        },
        {
          name: "Протезирование частичными съемными пластиночными протезами с армированием (1 челюсть)",
          price: "23000"
        },
        {
          name: "Протезирование зубов полными съемными пластиночными протезами (1 челюсть)",
          price: "20000"
        },
        {
          name: "Протезирование зубов полными съемными пластиночными протезами с армированием",
          price: "23000"
        },
        {
          name: "Протезирование съемными бюгельными протезами с кламмерной фиксацией (1 челюсть)",
          price: "35000"
        },
        {
          name: "Протезирование съемными бюгельными протезами с замковой фиксацией (1 челюсть)",
          price: "42000"
        },
        {
          name: "Постоянное шинирование цельнолитыми съемными конструкциями при заболеваниях пародонта (шинирующий бюгель на 1 челюсть)",
          price: "35000"
        },
        {
          name: "Протезирование частичными съемными пластиночными протезами для временного замещения 1-3 отсутствующих зубов (иммедиат-протез)",
          price: "9000"
        },
      ]
    },
    {
      name: "Прочие ортопедические услуги",
      details: [
        {
          name: "Снятие несъемной ортопедической конструкции (1 единица)",
          price: "300"
        },
        {
          name: "Снятие несъемной ортопедической конструкции временной (1 единица)",
          price: "100"
        },
        {
          name: "Фиксация на постоянный цемент несъемных ортопедических конструкций (1 единица)",
          price: "500"
        },
        {
          name: "Фиксация на временный цемент несъемных ортопедических конструкций (1 единица)",
          price: "100"
        },
        {
          name: "Коррекция прикуса с использованием съемных и несъемных  ортопедических конструкций ",
          price: "От 15000"
        },
        {
          name: "Снятие оттиска с одной челюсти альгинатным слепочным  материалом",
          price: "500"
        },
        {
          name: "Снятие оттиска с одной челюсти С силиконовым слепочным  материалом",
          price: "700"
        },
        {
          name: "Снятие оттиска с одной челюсти А силиконовым слепочным  материалом",
          price: "900"
        },
        {
          name: "Перебазировка съемного протеза лабораторным методом",
          price: "4000"
        },
        {
          name: "Приварка кламмера",
          price: "2000"
        },
        {
          name: "Приварка зуба",
          price: "2500"
        },
        {
          name: "Починка перелома базиса самотвердеющей пластмассой",
          price: "2000"
        },
        {
          name: "Изготовление эластической прокладки (лабораторный метод)",
          price: "От 4000"
        },
      ]
    },
    {
      name: "Хирургические услуги",
      details: [
        {
          name: "Удаление зуба",
          details: [
            {
              name: "Операция удаления постоянного зуба простое",
              price: "1500"
            },
            {
              name: "Операция удаления постоянного зуба сложное с разъединением корней",
              price: "2200"
            },
            {
              name: "Операция удаления непрорезовавшегося, дистопированного или сверхкомплектного зуба",
              price: "От 2500"
            },
            {
              name: "Лечение перикоронита (промывание, рассечение и/или иссечение капюшона)",
              price: "500"
            },
            {
              name: "Остановка луночного  кровотечения без наложения швов с использованием гемостатических материалов",
              price: "400"
            },
            {
              name: "Наложение шва на слизистую оболочку рта",
              price: "500"
            },
            {
              name: "Гингивотомия в области одного зуба ",
              price: "300"
            },
            {
              name: "Вскрытие подслизистого или поднадкостничного очага воспаления в полости рта",
              price: "400"
            },
            {
              name: "Отсроченный кюретаж  лунки удаленного зуба",
              price: "500"
            },
          ]
        },
        {
          name: "Перевязки при заболеваниях ЧЛО",
          details: [
            {
              name: "Перевязка, обработка раны после оперативных вмешательств",
              price: "300"
            },
            {
              name: "Снятие швов после оперативных вмешательств в области одного зуба",
              price: "300"
            },
          ]
        },
      ],
      comment: "Стоимость хирургического лечения указана без учета стоимости расходных ма-териалов"
    }
  ];

  //- Отзывы
  var reviews = [
    {
      name: "tulaev-vk",
      text: "Ходим в эту клинику всей семьёй лет 10 уже. Были на лечении и у Екатерины и у Аллы Станиславовны, и на консультации с ребетенком у ортодонта. Из плюсов - наличие семейных скидок и отсутствие навязывания не нужных процедур. Из минусов: маленький холл и переодически очень сложно записаться на удобное время."
    },
    {
      name: "Misha Zhuyko",
      text: "Приятная клиника, доброжелательные и грамотные специалисты. Все сделали быстро, и очень важно для меня безболезненно. Советую!"
    },
    {
      name: "Анна",
      text: "Лечили сыну 10 лет зубы у Аллы Станиславовны Быстро поставила 2 пломбы, спасибо за чуткость и заботу о ребенке, сын не напугался. Стоимость лечения средняя по городу, недорого 😊"
    }
  ]
