mixin navItem(targetPage, text)
  li.nav-main__item
    if (targetPage === page)
      span.nav-main__link.nav-main__link--active #{text}
    else
      - var href = (targetPage === "#") ? "#" : `${page}.html`
      a(href=href).nav-main__link #{text}

header.page__header.page-header
  .page-header__container
    .logo.page-header__logo
      include logo-svg
    nav.page-header__nav.nav-main
      ul.nav-main__list
        +navItem("index", "Главная")
        +navItem("#", "Сервера")
