doctype html
html(lang="ru")
  include data
  include mixins

  block config
    - var title = ""
    - var name = ""
    - var page = ""

  block head
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title #{title}
      //- Bootstrap
      //- link(rel="stylesheet", href="css/bootstrap-grid.min.css")
      //- Main Styles
      link(rel="stylesheet", href="css/style.min.css")
      //- Favicon
      link(rel="icon" href="favicon.svg")
      link(rel="apple-touch-icon" href="apple-touch-icon.png")
      //- Manifest
      link(rel="manifest", href="manifest.json")
  body
    .page
      #js-page-overlay.page__overlay
      block content
    .mobile-menu

  script(src="js/app.min.js")
  block scripts
