section.section
  .section__liquid-block.map
    h2.section__title.map__title Игровые сервера на карте
    b.section__bold Карта локаций
    figure.map__image
      .map__mark
        .map__mark-mask(tabindex="0")
        .map__label Москва
      .map__profile
