section.section
  .section__liquid-block.quickstart
    h2.section__title Быстрый старт
    b.section__bold Начни играть

    ul.quickstart__steps
      li.quickstart__step.quickstart__step--create
        | Создайте аккаунт
      li.quickstart__step.quickstart__step--download
        | Скачайте модуль
      li.quickstart__step.quickstart__step--tariff
        | Выберите тариф
      li.quickstart__step.quickstart__step--play
        | Начни играть


    .section__bottom
      a(href="#").section__link Начать
