section.section
  .section__liquid-block.tariffs
    h2.section__title Гибкие тарифы
    b.section__bold Доступные подписки

    ul.tariffs__list
      li.tariffs__item
        h3.tariffs__title Почасовая оплата
        b.tariffs__price 45 р. - час
        .tariffs__features
          p Доступно:
          ul
            li Каталог игр
            li Виртуальный ПК
            li Безлимитная игровая сессия
        button.tariffs__btn Выбрать
      li.tariffs__item.tariffs__item--accent
        h3.tariffs__title Подписка Максимум
        b.tariffs__price 2999 р. - месяц
        .tariffs__features
          p Доступно:
          ul
            li Каталог игр
            li Виртуальный ПК
            li Игровая сессия 10 часов/день
        button.tariffs__btn Выбрать
      li.tariffs__item
        h3.tariffs__title Подписка Минимум
        b.tariffs__price 1500 р. - месяц
        .tariffs__features
          p Доступно:
          ul
            li Каталог игр
            li Игровая сессия 4 часов/день
        button.tariffs__btn Выбрать
