.nav-main {
  user-select: none;
}

.nav-main__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-main__item {
  margin-right: 45px;
}

.nav-main__link {
  position: relative;
  display: block;
  font-weight: 300;
  line-height: 180%;
  color: $cl-white;
  overflow: hidden;
  text-shadow: 0 0 5px #000;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background-color: $cl-link;
    transition: transform 0.3s;
  }
}

.nav-main__link--active {
  font-weight: 400;

  &::after {
    left: 0;
  }
}

.nav-main__link[href]:hover {
  color: $cl-link;
}

.nav-main__link[href]:active {
  opacity: 0.6;
}

.nav-main__link[href]:hover::after {
  transform: translateX(100%);
}
