.section {
  display: flex;
  padding: 42px 53px 90px;
}

.section__title {
  position: relative;
  padding-left: 84px;
  margin-bottom: 17px;
  color: $cl-blue;
  font-weight: 300;
  line-height: 180%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    background-color: $cl-blue;
  }
}

.section__bold {
  display: block;
  margin-bottom: 60px;
  color: $cl-white;
  font-family: "AireExterior";
  font-size: 39px;
  font-weight: normal;
}

.section__info {
  width: 480px;
  flex-shrink: 0;

  p {
    margin-bottom: 27px;
    font-weight: 300;
    font-size: 21.33px;
    line-height: 150%;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  hr {
    display: block;
    max-width: 271px;
    height: 0.5px;
    margin: 0;
    margin-bottom: 27px;
    background-color: rgba(#FFFFFF, 0.2);
    border: 0;
  }
}

.section__liquid-block {
  flex-grow: 1;
}

.section__info {
  margin-right: 27px;
}

.section__bottom {
  padding-top: 60px;
}

.section__link {
  position: relative;
  padding-bottom: 7px;
  display: inline-block;
  color: $cl-link;
  font-weight: 500;
  transition: 0.1s;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $cl-link;
    transition: 0.1s;
  }

  &:hover {
    color: $cl-white;
  }

  &:hover::after {
    background-color: $cl-white;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $desktop-sm) {
  .section {
    flex-direction: column;
  }

  .section__info {
    width: auto;
  }
}

@media (max-width: $mobile) {
  .section {
    padding-left: 15px;
    padding-right: 20px;
  }

  .section__bottom {
    text-align: center;
  }

  .section__title {
    margin-left: 53px;
  }
}
