.socials {
  display: flex;
}

.socials__link {
  display: block;
  width: 1em;
  height: 1em;
  margin-right: 0.588em;

  svg {
    width: 100%;
    height: 100%;
  }

  &:last-child {
    margin-right: 0;
  }
}
