.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__footer {
  margin-top: auto;
}

.page__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.page__container {
  margin: 0 auto;
  width: 100%;
  max-width: $container-width + 40px;
}
