@font-face {
  font-family: Pulsar;
  font-display: swap;
  src: url("../fonts/Pulsar.woff2") format("woff2"), url("../fonts/Pulsar.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AireExterior;
  font-display: swap;
  src: url("../fonts/AireExterior.woff2") format("woff2"), url("../fonts/AireExterior.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-bold.woff2") format("woff2"), url("../fonts/Roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-medium.woff2") format("woff2"), url("../fonts/Roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-light.woff2") format("woff2"), url("../fonts/Roboto-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-extralight.woff2") format("woff2"), url("../fonts/Roboto-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
